Atlante.ToolsManager/ToolsManager.DataServices.Client/Service References/MachineServiceProxy/MachineManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MachineManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IMachineManagerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://bv7828-lt.ucn.net/ToolsManagerService/MachineManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://bv7828-lt.ucn.net/ToolsManagerService/MachineManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bv7828-lt.ucn.net/ToolsManagerService/MachineManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ToolsManager.DataServices.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMachineManagerService_AddMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMachine" />
  </wsdl:message>
  <wsdl:message name="IMachineManagerService_AddMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineManagerService_DeleteMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMachine" />
  </wsdl:message>
  <wsdl:message name="IMachineManagerService_DeleteMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineManagerService_DeleteAllMachines_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllMachines" />
  </wsdl:message>
  <wsdl:message name="IMachineManagerService_DeleteAllMachines_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllMachinesResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineManagerService_GetMachines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMachines" />
  </wsdl:message>
  <wsdl:message name="IMachineManagerService_GetMachines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMachinesResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineManagerService_SaveChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveChanges" />
  </wsdl:message>
  <wsdl:message name="IMachineManagerService_SaveChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveChangesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMachineManagerService">
    <wsdl:operation name="AddMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineManagerService/AddMachine" message="tns:IMachineManagerService_AddMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineManagerService/AddMachineResponse" message="tns:IMachineManagerService_AddMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineManagerService/DeleteMachine" message="tns:IMachineManagerService_DeleteMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineManagerService/DeleteMachineResponse" message="tns:IMachineManagerService_DeleteMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllMachines">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineManagerService/DeleteAllMachines" message="tns:IMachineManagerService_DeleteAllMachines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineManagerService/DeleteAllMachinesResponse" message="tns:IMachineManagerService_DeleteAllMachines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMachines">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineManagerService/GetMachines" message="tns:IMachineManagerService_GetMachines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineManagerService/GetMachinesResponse" message="tns:IMachineManagerService_GetMachines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineManagerService/SaveChanges" message="tns:IMachineManagerService_SaveChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineManagerService/SaveChangesResponse" message="tns:IMachineManagerService_SaveChanges_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IMachineManagerService" type="tns:IMachineManagerService">
    <wsp:PolicyReference URI="#WSHttpBinding_IMachineManagerService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMachine">
      <soap12:operation soapAction="http://tempuri.org/IMachineManagerService/AddMachine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMachine">
      <soap12:operation soapAction="http://tempuri.org/IMachineManagerService/DeleteMachine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllMachines">
      <soap12:operation soapAction="http://tempuri.org/IMachineManagerService/DeleteAllMachines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMachines">
      <soap12:operation soapAction="http://tempuri.org/IMachineManagerService/GetMachines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveChanges">
      <soap12:operation soapAction="http://tempuri.org/IMachineManagerService/SaveChanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MachineManagerService">
    <wsdl:port name="WSHttpBinding_IMachineManagerService" binding="tns:WSHttpBinding_IMachineManagerService">
      <soap12:address location="http://localhost/ToolsManagerService/MachineManagerService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/ToolsManagerService/MachineManagerService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>