Atlante.ToolsManager/ToolsManager.DataServices.Client/Service References/MachineServiceProxy/MachineManagerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ToolsManager.DataServices.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ToolsManager.DataServices.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MachineDTO">
    <xs:sequence>
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Owner_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MachineDTO" nillable="true" type="tns:MachineDTO" />
  <xs:complexType name="ArrayOfMachineDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MachineDTO" nillable="true" type="tns:MachineDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMachineDTO" nillable="true" type="tns:ArrayOfMachineDTO" />
</xs:schema>