Atlante.ToolsManager/ToolsManager.DataServices.Client/Service References/MachineServiceProxy/MachineManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bv7828-lt.ucn.net/ToolsManagerService/MachineManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ToolsManager.DataServices.Common" />
  <xs:element name="AddMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ToolsManager.DataServices.Common" minOccurs="0" name="machine" nillable="true" type="q1:MachineDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMachineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMachineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ToolsManager.DataServices.Common" minOccurs="0" name="machine" nillable="true" type="q2:MachineDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMachineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllMachines">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllMachinesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachines">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ToolsManager.DataServices.Common" minOccurs="0" name="GetMachinesResult" nillable="true" type="q3:ArrayOfMachineDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChanges">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveChangesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>